<!-- Template for landing page of feed. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <style type="text/css">
        html {
            columns: 800px 1;
            max-width: 1000px;
            margin: 100;
        }
    </style>

    <title>{{ title }} feed</title>
</head>

<body>
    <h1>{{ title }} feed</h1>

    <ul>
        {% for article in articles %}
        <li>
            <h3>
                <a href="{{ article.link }}">{{ article.heading }}</a>
            </h3>

            <p>{{ article.summary }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>